:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(34,33,40);
  background: linear-gradient(90deg, rgba(34,33,40,1) 0%, rgba(36,43,48,1) 22%, rgba(26,31,32,1) 38%, rgba(21,25,22,1) 52%, rgba(30,34,34,1) 63%, rgba(32,38,43,1) 75%, rgba(16,29,40,1) 90%);
}

*
{
  padding: 0;
  margin: 0;
}